# StackAPI

#### Import the necessary libraries here:

In [2]:
# your code here
from stackapi import StackAPI
SITE = StackAPI('stackoverflow')
SITE.page_size = 100 #quote_remaining:269--218--194--189--
SITE.max_pages = 25 #max without token

In [17]:
import pandas as pd
import datetime as datetime

#### Question 1: Find the questions and answers of last month.

In [ ]:
# your code here
questions = SITE.fetch('questions', fromdate=1672531200, todate=1675209600) #unix time stamp: from 1.1.23 to 1.2.23

In [11]:
questions_df = pd.DataFrame(questions)
print(questions_df.shape) #maximum results without token: 2500, there probably are more.

question_items_df = pd.DataFrame(dict(questions_df["items"])).T
question_items_df.head()

(2500, 7)

,tags,owner,is_answered,view_count,accepted_answer_id,answer_count,score,last_activity_date,creation_date,last_edit_date,...,content_license,link,title,bounty_amount,bounty_closes_date,closed_date,closed_reason,locked_date,migrated_from,protected_date
0,"[c, error-handling, flags]","{'reputation': 45, 'user_id': 18746779, 'user_...",True,76,75268875,1,0,1675524877,1674905407,1674905763,...,CC BY-SA 4.0,https://stackoverflow.com/questions/75267297/h...,How to efficiently display errors in C?,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[java, file, file-exists]","{'reputation': 2148, 'user_id': 1103606, 'user...",True,83,75344321,1,-2,1675524644,1675201167,1675524644,...,CC BY-SA 4.0,https://stackoverflow.com/questions/75303408/c...,Cannot move file because NoSuchFileException,100,1676054154,NaN,NaN,NaN,NaN,NaN
2,[machine-learning],"{'reputation': 1, 'user_id': 18477827, 'user_t...",False,37,NaN,1,-1,1675523942,1673525099,NaN,...,CC BY-SA 4.0,https://stackoverflow.com/questions/75096081/w...,We can’t connect to the server at precious.htb...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[ruby, gsub]","{'reputation': 53, 'user_id': 15054139, 'user_...",True,50,75289283,3,2,1675523927,1675106737,1675107227,...,CC BY-SA 4.0,https://stackoverflow.com/questions/75289193/h...,How do I remove &quot;/&quot; and &quot;/i&quo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[php, laravel, laravel-passport]","{'reputation': 97, 'user_id': 20138556, 'user_...",False,36,NaN,1,1,1675523373,1674161124,NaN,...,CC BY-SA 4.0,https://stackoverflow.com/questions/75178093/a...,Authenticate a use using Angular and Laravel p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
answers = SITE.fetch('answers', fromdate=1672531200, todate=1675209600) #unix time stamp: from 1.1.23 to 1.2.23

In [15]:
answers_df = pd.DataFrame(answers)
print(answers_df.shape) #maximum results without token: 2500, there probably are more.

answers_items_df = pd.DataFrame(dict(answers_df["items"])).T
answers_items_df.head()

(2500, 7)

,owner,is_accepted,score,last_activity_date,last_edit_date,creation_date,answer_id,question_id,content_license,community_owned_date
0,"{'reputation': 52, 'user_id': 11150551, 'user_...",False,-1,1675525229,1675525229,1674704340,75242076,75240486,CC BY-SA 4.0,NaN
1,"{'reputation': 1, 'user_id': 21059634, 'user_t...",False,0,1675524966,1675524966,1674389171,75200263,64726208,CC BY-SA 4.0,NaN
2,"{'reputation': 4039, 'user_id': 11867590, 'use...",True,0,1675524877,1675524877,1674920857,75268875,75267297,CC BY-SA 4.0,NaN
3,"{'reputation': 1, 'user_id': 20373626, 'user_t...",False,0,1675524807,1675524807,1674212853,75183188,30937928,CC BY-SA 4.0,NaN
4,"{'reputation': 5, 'user_id': 7404511, 'user_ty...",False,0,1675524327,1675524327,1673945371,75143868,58957228,CC BY-SA 4.0,NaN

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [30]:
# your code here
questions_230204 = SITE.fetch('questions', fromdate=1675468800, todate=1675555200, tagged='python')

In [32]:
#all questions today with tag python
questions_230204_df = pd.DataFrame(questions_230204)
print(questions_230204_df.shape) #(318, 7)
questions_230204_df.head()

(318, 7)

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,4,300,185,0,"{'tags': ['python'], 'owner': {'reputation': 1..."
1,0,False,4,300,185,0,"{'tags': ['python', 'r', 'sequence'], 'owner':..."
2,0,False,4,300,185,0,"{'tags': ['python', 'pandas', 'data-science', ..."
3,0,False,4,300,185,0,"{'tags': ['python', 'pandas'], 'owner': {'repu..."
4,0,False,4,300,185,0,"{'tags': ['python', 'index-error', 'jsonmodel'..."

In [34]:
questions_230204_items_df = pd.DataFrame(dict(questions_230204_df["items"])).T
questions_230204_items_df.columns

Index(['tags', 'owner', 'is_answered', 'view_count', 'answer_count', 'score',
       'last_activity_date', 'creation_date', 'last_edit_date', 'question_id',
       'content_license', 'link', 'title', 'accepted_answer_id', 'closed_date',
       'closed_reason'],
      dtype='object')

In [44]:
#filter for score >= 5
questions_230204_score5min_df = questions_230204_items_df[questions_230204_items_df["score"]>=5]
questions_230204_score5min_df.sort_values("score", ascending=False)

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,last_edit_date,question_id,content_license,link,title,accepted_answer_id,closed_date,closed_reason
224,"[python, python-3.x, algorithm, combinations]","{'reputation': 161, 'user_id': 12470058, 'user...",False,85,1,5,1675495325,1675469697,1675470256,75342160,CC BY-SA 4.0,https://stackoverflow.com/questions/75342160/p...,Partition of a list of integers into K sublist...,NaN,NaN,NaN

#### Question 3: Find the answers with id 6784 and 6473.

In [48]:
# your code here
answer_2ids = SITE.fetch('answers', ids=[6473, 6784])

In [49]:
answer_2ids_df = pd.DataFrame(answer_2ids)
print(answer_2ids_df.shape) #(318, 7)
answer_2ids_df.head()

(1, 7)

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,183,0,"{'owner': {'reputation': 30561, 'user_id': 758..."

In [50]:
answer_2ids_df_items_df = pd.DataFrame(dict(answer_2ids_df["items"])).T
answer_2ids_df_items_df.head()

,answer_id,content_license,creation_date,is_accepted,last_activity_date,owner,question_id,score
0,6784,CC BY-SA 2.5,1218291583,False,1218291583,"{'reputation': 30561, 'user_id': 758, 'user_ty...",6778,0

In [ ]:
#can only find one of the IDs, 6784.